<h1>All Categories</h1>

<p><%= flash[:error] %></p>

<%= link_to "Add new category", new_category_path(@category) if logged_in? %>

<div>
    <% @categories.each do |cat| %>
        <h2><%= link_to cat.name, category_path(cat.id) %></h2>
    <% end %>
</div>